<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="div-center">
    <ion-card class="card-slide top-slider"></ion-card>
  </div>
  <h1 class="ion-text-center top-titulo">¡Hola Cristiano!</h1>
  <p class="ion-text-center p-descripcion p-top-bottom">Por favor ingresa la contraseña que te hemos brindado y cámbiala por una de tu preferencia</p>
  <form class="bottom-espacio">
    <ion-item lines="none" class="item-input" mode="ios">
      <ion-input mode="ios" type="password" placeholder="Contraseña anterior"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item-input item-top" mode="ios">
      <ion-input mode="ios" type="password" placeholder="Contraseña nueva"></ion-input>
    </ion-item>
    <ion-item lines="none" class="item-input item-top" mode="ios">
      <ion-input mode="ios" type="password" placeholder="Repite contraseña nueva"></ion-input>
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-no-border ion-text-center" mode="ios">
  <ion-button mode="ios" class="btn-guardar" (click)="view_gracias_comprar()">Guardar cambios</ion-button>
</ion-footer>
