<!--<ion-header>
  <ion-toolbar>
    <ion-title>onboarding-no-usuario</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center top-slider bottom-cero">Información enviada</h1>
  <div class="div-center">
    <ion-card class="card-slide top-slider"></ion-card>
  </div>
  <p class="p-medium ion-text-center p-top">Recibimos tu solicitud correctamente. Nuestro equipo procederá a revisar tus datos y abrir tu cuenta.<br><br> Revise su correo electrónico para los accesos en plazo de hasta 24 horas.</p> 
</ion-content>
