<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-button mode="ios" class="btn-atras">< Atrás</ion-button>
    <img src="assets/img/cart.png" class="icon-cart-menu">
    <ion-badge mode="ios" class="badge-rojo">9</ion-badge>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="div-flex-card">
    <div class="div-card-foto">
      <ion-avatar class="avatar-foto"></ion-avatar>
      <h1 class="tituloproducto">Este es el titulo del producto</h1>
    </div>
    <div class="div-card-fotos">
      <ion-avatar class="avatar-fotos"></ion-avatar>
      <ion-avatar class="avatar-fotos avatar-top"></ion-avatar>
      <ion-avatar class="avatar-fotos avatar-top"></ion-avatar>
      <ion-avatar class="avatar-fotos avatar-top"></ion-avatar>
      <ion-avatar class="avatar-fotos avatar-top"></ion-avatar>
      <ion-avatar class="avatar-fotos avatar-top"></ion-avatar>
    </div>
  </div>
  <div class="div-padding-left-right">
    <h6 class="subtitulo-h6">Descripción:</h6>
    <p class="p-descripcion">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
    <h6 class="subtitulo-h6 subtitulo-top">Fabricante:</h6>
  </div>
  <ion-slides pager="false" [options]="slideOpts" mode="ios">
    <ion-slide>
      <h1 class="tiutlo-slider">Marca 1</h1>
    </ion-slide>
    <ion-slide>
      <h1 class="tiutlo-slider tiutlo-slider-activo">Marca xyz</h1>
    </ion-slide>
    <ion-slide>
      <h1 class="tiutlo-slider">Marca 123</h1>
    </ion-slide>
    <ion-slide>
      <h1 class="tiutlo-slider">Marca 1</h1>
    </ion-slide>
    <ion-slide>
      <h1 class="tiutlo-slider tiutlo-slider-activo">Marca xyz</h1>
    </ion-slide>
    <ion-slide>
      <h1 class="tiutlo-slider">Marca 123</h1>
    </ion-slide>
  </ion-slides>
  <div class="div-padding-left-right">
    <h6 class="subtitulo-h6">Variaciones:</h6>
    <ion-list class="ion-no-padding">
      <ion-item class="ion-no-padding item-contador" lines="none">
        <p class="label-nombre label-right-primero">Medida 4</p>
        <div class="div-contador">
          <p class="label-nombre label-right-segundo">S/ 12</p>
          <div class="div-contador">
            <ion-button mode="ios" class="btn-add-rest">-</ion-button>
            <ion-input type="number" value="33" class="input-number"></ion-input>
            <ion-button mode="ios" class="btn-add-rest">+</ion-button>
          </div>
        </div>
      </ion-item>
      <ion-item class="ion-no-padding item-contador" lines="none">
        <p class="label-nombre label-right-primero">Medida 4</p>
        <div class="div-contador">
          <p class="label-nombre label-right-segundo">S/ 12</p>
          <div class="div-contador">
            <ion-button mode="ios" class="btn-add-rest">-</ion-button>
            <ion-input type="number" value="33" class="input-number"></ion-input>
            <ion-button mode="ios" class="btn-add-rest">+</ion-button>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  <div class="div-padding-left-right div-bottom">
    <h6 class="subtitulo-h6 subtitulo-top">Especificaciones técnicas:</h6>
    <p class="p-descripcion">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et.</p>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <div class="div-footer">
    <p class="p-footer">Items (34)</p>
    <ion-button mode="ios" class="btn-add-footer">+</ion-button>
    <p class="p-footer">Total: S/ 342</p>
  </div>
</ion-footer>
