<!--<ion-header>
  <ion-toolbar>
    <ion-title>categoria-interes</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <h1 class="ion-text-center top-slider">Categorias de interese</h1>
  <p class="ion-text-center p-medium p-top-bottomcero">Ayúdanos sugerirte los productos mas adecuados a tus necesidades. No te preocupes, podrás modificar tu selección en cualquier momento</p>
  <ion-grid class="ion-no-padding grip-top">
    <ion-row>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
      <ion-col size="4" class="col-padding-left-right">
        <ion-card class="card-categorias card-categoria-activo">
          <div class="div-circulo"></div>
          <p class="ion-text-center p-catogoria">Nombre de categoría</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button mode="ios" class="btn-guardar" (click)="view_primera_entrada()">Continuar</ion-button>
</ion-content>
