@font-face{
    font-family: AvenirMedium;
    src : url('/assets/font/Avenir-Medium.ttf')
}
@font-face{
    font-family: PoppinsMedium;
    src : url('/assets/font/Poppins-Medium.ttf')
}
ion-menu::part(container) {
    border-radius: 0px 38px 38px 0px;
    box-shadow: 40px 3px 57px #00000060;
    position: relative;
    padding-top: 7.0625rem;
    padding-left: 1.1875rem;
    padding-right: 1.9375rem;
}
ion-header
{
    position: relative;
}
.btn-close-menu
{
    --background: #fff;
    --background-activated: #fff;
    --border-radius: 50%;
    --box-shadow: -1px 7px 15px #00000029;
    margin: 0px;
    width: 2.625rem;
    height: 2.625rem;
    font-size: 0px;
    position: absolute;
    right: 1.25rem;
    top: 1.8125rem;
    z-index: 9999;
    .icon-close
    {
        color: #000;
        font-size: 1.5625rem;

    }
}
.card-nav
{
    display: flex;
    box-shadow: none;
    margin: 0px;
    ion-avatar
    {
        margin-right: 0.5625rem;
        background: #EAEAEA;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 3.875rem;
        height: 3.875rem;
        --border-radius: 9px;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-person
        {
            color: #fff;
            font-size: 2.25rem;
        }
    }
    .label-nombre
    {
        color: #000000;
        font-family: AvenirMedium;
        font-size: 0.9375rem;
    }
    .h1-nombre-empresa
    {
        color: #000000;
        font-family: PoppinsMedium;
        font-size: 1.375rem;
        margin: 0px;
    }
}