<ion-app>
  <ion-menu side="start" menuId="first" contentId="main" mode="ios" class="my-custom-menu">
    <ion-button mode="ios" class="btn-close-menu"><ion-icon name="close" class="icon-close"></ion-icon></ion-button>
    <ion-header class="ion-no-border ion-no-padding">
      <ion-toolbar class="ion-no-padding">
        <ion-card class="card-nav">
          <ion-avatar><ion-icon name="person" class="icon-person"></ion-icon></ion-avatar>
          <div>
            <ion-label class="label-nombre">Nombre de usuario</ion-label>
            <h1 class="h1-nombre-empresa">Nombre de empresa</h1>
          </div>
        </ion-card>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
        <ion-item>Menu Item</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
