<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div class="div-flex-header">
      <ion-icon name="menu-outline" class="icon-menu" (click)="openEnd()"></ion-icon>
      <ion-label class="lable-ciudad">Lima</ion-label>
      <h1 class="h1-nombre-empersa">Nombre de la empresa</h1>
      <img src="assets/img/cart.png" class="icon-cart-menu">
      <ion-badge mode="ios" class="badge-rojo">9</ion-badge>
    </div>
    <div class="div-serach">
      <ion-item lines="none" mode="ios" class="item-search">
        <ion-icon name="search" class="icon-search"></ion-icon>
        <ion-input type="search" mode="ios" class="input-serach" placeholder="Buscar productos o categorias"></ion-input>
      </ion-item>
      <ion-button mode="ios" class="btn-filtro"><ion-icon name="list" class="icon-filtro"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-banner">
    <h1 class="titulo-baaner">Este es un <br>Banner<br> publicitario</h1>
    <ion-button mode="ios" class="btn-carrito">Agregar al carrito</ion-button>
  </ion-card>
  <div class="div-categoria-list">
    <h6 class="h6-categorias">Ultimas ofertas</h6>
    <ion-slides pager="false" [options]="slideOpts" mode="ios">
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="div-categoria-list">
    <h6 class="h6-categorias">Categoría 1234</h6>
    <ion-slides pager="false" [options]="slideOpts" mode="ios">
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="div-categoria-list">
    <h6 class="h6-categorias">Categoría nueva</h6>
    <ion-slides pager="false" [options]="slideOpts" mode="ios">
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="card-categorias">
          <ion-avatar class="avatar-categoria"></ion-avatar>
          <ion-card-header class="ion-no-padding ion-text-start">
            <ion-card-title>Este es el titulo del producto</ion-card-title>
            <ion-card-subtitle>Marca</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-no-padding">
            <ion-label class="label-precio">S/240</ion-label>
            <ion-button mode="ios" class="btn-add-categoria"><ion-icon name="add" class="icon-add"></ion-icon></ion-button>
          </ion-card-content>
          <ion-button mode="ios" class="btn-list-categoria"><img src="assets/img/icon-material-playlist-add-check.png" class="img-list-categoria"></ion-button>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-button mode="ios" class="btn-guardar">Ver todas las categorias</ion-button>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar class="toolbar-footer">
    <div class="div-footer">
      <ion-button mode="ios" class="btn-icon-footer btn-padding-left-cero"><img src="assets/img/icon-feather-home.png" id="img-home"></ion-button>
      <ion-button mode="ios" class="btn-icon-footer"><img src="assets/img/icon-material-playlist-add-check.png" id="img-list"></ion-button>
      <ion-button mode="ios" class="btn-icon-footer"><img src="assets/img/icon-material-add-shopping-cart-1.png" id="img-cart-add"></ion-button>
      <ion-button mode="ios" class="btn-icon-footer"><img src="assets/img/icon-material-history.png" id="img-historial"></ion-button>
      <ion-button mode="ios" class="btn-icon-footer border-cero-right btn-padding-right-cero"><img src="assets/img/icon-awesome-whatsapp.png" id="img-wassap"></ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
